@import url('https://fonts.googleapis.com/css2?family=Kolker+Brush&family=Montserrat:wght@300;400;800&display=swap');

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: Montserrat;
}

a{
  text-decoration: none;
  color: goldenrod;
}

/* To make the search label readable */
.input_field{
  color:white !important;
}

/* To make the input text readable  */
.input_color{
  color:white !important;
}

/* Coin  page */
.coin_info{
  display: flex;
}

.side_bar{
  width:40%;
  padding:10px;
  display:flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  border-right: 2px solid grey;
}

.market_data{
  align-self: flex-start;
  padding: 25px;
  padding-top: 10px;
  width: 100%;
}

.coin_chart{
  width: 75%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 25px;
  padding: 40px;
}

/* Media query for the coin page */
@media (max-width: 1023px){
  .coin_info{
    flex-direction: column;
    align-items: center;;
  }
}

@media (max-width:1024px){
  .side_bar{
    width:100%
  }
}

@media(max-width:800px){
  .market_data{
  flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media(max-width:425px){
  .market_data{
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }
}

@media(max-width:375px){
.market_data{
  align-items: flex-start;
}
}

@media(max-width:1023px){
  .coin_chart{
    width:100%;
    margin-top: 0;
    padding: 20px;
    padding-top: 0;
  }
}